parameters:

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/Kernel.php'

    App\Modules\:
        resource: '../src/Modules/*/Interface/API/'
        exclude:
            - '../src/Modules/*/Interface/API/Request/'
            - '../src/Modules/*/Interface/API/Response/'
        tags: ['controller.service_arguments']
